@font-face {
  font-family: 'Butterbrotpapier';
  src: local('Butterbrotpapier'), url(./fonts/butterbrotpapier.ttf),
    format('truetype');
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: #e7ffc2;
  font-family: Montserrat;
}

header {
  margin: 0;
  font-family: Butterbrotpapier, sans-serif;
  background-color: white;
  height: 100px;
  text-align: center;
  position: relative;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin: 0;
}

.grid-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 300px;
  width: 300px;
  margin: 10px;
}

.post-body {
  font-size: 20px;
}
